{% extends "layout.html" %}
{% block content %}
<body class="add_ausgabe">
<h3>Ausgabe hinzufügen</h3>
        <div class="row">
            <form class="container col-sm-6" method="POST">

                <!--Betrag-->
                <input class="form-control" type="number" step=".01" name="ausgabe_number" placeholder="Betrag" min="0" required="required">

                <!--Kategorie-->
                <div class="btn-group kategorien_buttons" role="group" aria-label="Basic radio toggle button group">
                    {% for key, value in budget_dict.items() %}

                        {% if key == "Andere" %}
                            <input type="radio" checked class="btn-check" value="{{ key }}" name="ausgabe_kategorie" id="{{ key }}" autocomplete="off">
                            <label class="btn btn-outline-primary" for="{{ key }}">{{ key }}</label>
                        {% else %}
                            <input type="radio" class="btn-check" value="{{ key }}" name="ausgabe_kategorie" id="{{ key }}" autocomplete="off">
                            <label class="btn btn-outline-primary" for="{{ key }}">{{ key }}</label>
                        {% endif %}


                    {% endfor %}
                </div>

                <!--Datum-->
                <input class="form-control" name="ausgabe_date" type="date" value="" id="date-input" required="required">

                <!--Name-->
                <input type="text" class="form-control" name="ausgabe_name" placeholder="Bezeichnung" required="required">

                <!--Senden-->
                <div class="ausgabe_speichern"><button type="submit" class="btn btn-primary">Speichern</button></div>
            </form>
            <div class="col-sm-6"></div>
        </div>
</body>
{% endblock %}