<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <!--<title>Hello</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
    </head>
    <body>

        <form method="POST">
            <input type="text" name="ausgabe_name" placeholder="Bezeichnung">
            <input type="number" name="ausgabe_number" placeholder="Betrag" min="0">
            <button type="submit">Speichern</button>
        </form>


    </body>
</html>