<!-- https://icons.getbootstrap.com/-->


{% extends "layout.html" %}
{% block content %}
<body class="budget">
<h1>AUSGABEN</h1>
        <div id="Barchart">
            {{ div_bar_ausgabe|safe }}
        </div>
        <hr>
          <table class="table">
              <tbody>
    <tr>
        <th> Datum </th>
        <th> Bezeichnung </th>
        <th> Betrag </th>
        <th> Kategorie </th>
        <th> </th>
    </tr>

    {% for key, value in ausgaben_dict.items() %}

    <tr>
        <td> {{ value[2] }} </td>
        <td> {{ value[3] }} </td>
        <td> {{ value[0] }} </td>
        <td> {{ value[1] }} </td>
        <td class="last">
            <form action="/delete-ausgabe/" method="post">
                <button class="trash" name="delete-ausgabe-button" type="submit" value="{{loop.index}}"><i class="bi bi-trash"></i></button>
            </form>
        </td>

    </tr>

    {% endfor %}
              </tbody>
 </table>


           </body>
{% endblock %}