{% extends "layout.html" %}
{% block content %}
<body class="budget">
<h1>AUSGABEN</h1>
          <table class="table">
              <tbody>
    <tr>
        <th> Datum </th>
        <th> Bezeichnung </th>
        <th> Betrag </th>
        <th> Kategorie </th>
    </tr>

    {% for key, value in ausgaben_dict.items() %}

    <tr>
        <td> {{ value[2] }} </td>
        <td> {{ value[3] }} </td>
        <td> {{ value[0] }} </td>
        <td> {{ value[1] }} </td>
    </tr>

    {% endfor %}
              </tbody>
 </table>


           </body>
{% endblock %}