{% extends "layout.html" %}
{% block content %}
<body class="budget">
<h1>BUDGET</h1>
          <table class="table">
              <tbody>
    <tr>
       <th> Kategorie </th>
       <th> Budget </th>
        <th></th>
    </tr>

    {% for key, value in budget_dict.items() %}

    <tr>
       <td> {{ key }} </td>
       <td> {{ value }} </td>
        <td> {{ loop.index }} </td>
        <td class="last"><i class="bi bi-pencil"></i> <i class="bi bi-trash"></i></td>
    </tr>

    {% endfor %}
              </tbody>
 </table>
<a href="/add-budget/">Budgetkategorie hinzufügen</a>

           </body>
{% endblock %}