{% extends "layout.html" %}
{% block content %}
<body class="index">
    <div class="wrapper">
        <div id="titel">
            <h5>BudgetPlaner</h5>
            <h1>DASHBOARD</h1>
            <div class="datum">
                <h4> {{ datum }} </h4>
            </div>
            <div class="form-group">
                <form class="monatsauswahl" method="POST">
                    <select class="form-control" id="choose_month" name="select_month" required="required">
                        <option value="">Wähle einen Monat</option>
                        {% for i in month %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary" type="submit">Speichern</button>
                </form>
            </div>
            <h2 class="summe">{{ summe }}</h2>
            <p class="summe">Gesamtbudget: {{summe_b}} </p>
             <div class="progress">
                 <div class="progress-bar" role="progressbar" style="width: calc(100% / {{summe_b}} * {{summe}})" aria-valuenow="{{ summe}}" aria-valuemin="0" aria-valuemax="{{ summe_b }}"></div>
             </div>
        </div>
        <div id="budget">
            <h3>Butgetübersicht</h3>
            <div class="budgetlist">
            {% for key, value in budget_zahlen.items() %}
                <div>
                    <h4 class="inline"> {{ key }} </h4>
                    <p class="inline">{{value[0] }} von {{value[1]}} </p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: calc(100% /  {{ value[1] }} * {{ value[0] }})" aria-valuenow="{{ausgabe_p_kategorie}}" aria-valuemin="0" aria-valuemax="{{ value[1] }}"></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="kreisdiagramm"> <h3> Gesamtausgaben </h3>
            {{ div_pie|safe }}
        </div>
    </div>
</body>
{% endblock %}