{% extends "layout.html" %}
{% block content %}
<body class="index">
        <div class="wrapper">
            <div id="titel"><h2>CHF {{ summe }}</h2>
             <div class="progress">
                 <div class="progress-bar" role="progressbar" style="width: calc(100% / {{summe_b}} * {{summe}})" aria-valuenow="{{ summe}}" aria-valuemin="0" aria-valuemax="{{ summe_b }}"></div>
             </div>
            </div>
            <div id="budget">
                <h3>Butgetübersicht</h3>
                    <div class="budgetlist">

                    {% for key, value in budget_zahlen.items() %}
                        <div>
                           <h4> {{ key }} </h4>
                            <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: calc(100% /  {{ value[1] }} * {{ value[0] }})" aria-valuenow="{{ausgabe_p_kategorie}}" aria-valuemin="0" aria-valuemax="{{ value[1] }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

            </div>
            <div id="verlauf">Monatsverlauf Ausgabe im Vergleich Budget</div>
            <div id="kreisdiagramm">Kreisdiagram Anteil an den Gesamtausgabe</div>
            <div id="blank">Puffer</div>
        </div>
</body>
{% endblock %}