/*Schriftart einbinden*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*https://color.adobe.com/de/explore?page=2

/* Color Theme Swatches in Hex
.color-theme_paleta-color-01-1-hex { color: #226473; }
.color-theme_paleta-color-01-2-hex { color: #FBBC49; }
.color-theme_paleta-color-01-3-hex { color: #FAA01C; }
.color-theme_paleta-color-01-4-hex { color: #E3D5C8; }
.color-theme_paleta-color-01-5-hex { color: #B29577; }
*/

body * {
  color: black;
  font-family: arial;
  font-family: 'Ubuntu', sans-serif;
}



li {
    font-size: 12px;
    font-style: italic;
}

h1 {
    font-size: 3rem;
    color: black;
    }

h2 {font-size: 5rem;
    color: #226473;
    font-weight: 700;
    text-align: center;

}
/****************************************************************
***************************************************************/
/*Allgemeines Design*/

.add_ausgabe, .add_budget, .budget {
    background-color: #F0F0F0;
}




body {
    padding: 5vw 0;
    max-width: 90vw;
    margin: auto!important;
    }


footer {
position: fixed;
bottom: 0;
display: flex;
justify-content: space-around;
width: 100%;
left: 0px;
background-color: #B29577;
height: 50px;
}



/****************************************************************
***************************************************************/
/*Startseite*/
.wrapper {
display: grid;
grid-row-gap: 50px;
grid-column-gap: 50px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
height: 80vh;
}

#titel {
grid-area: 1 / 1 / 2 / 3;
}

#budget {
grid-area: 2 / 1 / 5 / 2;
}

#verlauf {
grid-area: 2 / 2 / 3 / 3;
}

#kreisdiagramm {
grid-area: 3 / 2 / 4 / 3;
}

#blank {
grid-area: 4 / 2 / 5 / 3;
}

.wrapper div{
background-color: #E3D5C8;
}

/****************************************************************
***************************************************************/
/*add-Ausgabe*/

/*Radio Button Color Change*/

.btn-outline-primary {
    color: #FAA01C;
    border-color: #FAA01C;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover {
    background-color: #FAA01C;
    border-color: #FAA01C;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(250 160 28 / 50%);
}

.kategorien_buttons {
    flex-wrap: wrap;
}

.add_ausgabe form > *,  .kategorien_buttons * {
    margin: 10px 20px 10px 0px;
}

.ausgabe_speichern {margin-top: 50px!important;}

.add_ausgabe input {width: 100%;}


/****************************************************************
***************************************************************/
/*budget*/

