/*Schriftart einbinden*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/****************************************************************
***************************************************************/
/*Allgemeines Design*/

body * {
  color: #012E40;
  font-family: arial;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
}



body {
    padding: 5vw 85px;
    max-width: 90vw;
    margin: auto!important;
    }


footer {
position: fixed;
bottom: 0;
display: flex;
justify-content: space-around;
width: 100%;
left: 0px;
background-color: #F2B66D;
height: 50px;
}
footer i.bi {line-height: 1.8;}


hr {margin: 50px 0;}



/*Typografie*/
li {
    font-size: 12px;
    font-style: italic;
}

h1 {
    font-size: 4rem;
    font-weight:700;
    text-align: center;
    }

h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
#titel h2 {
    color: #ff7f0e;
}

h3 {
    font-size: 2rem;
}

h5 {
text-align: center;
}

.inline {
    display: inline!important;
}

p.inline, p.inline_big  {
    margin: 0!important;
    padding: 0!important;
}
h2.summe {text-align: center;}
p.summe {text-align: right;}




/*Icons und Buttons*/
.bi {
font-size: 1.75rem;
}

.bi-trash, .bi-pencil {
font-size: 1.25rem;
padding-left: 15px;
}

.btn-primary {background-color: #1f77b4; border: none; }
.btn-primary:hover {background-color: #1f77b4; opacity: 0.8;}

.trash {border:none; background: transparent;}


/****************************************************************
***************************************************************/
/*Startseite*/
.wrapper {
display: grid;
grid-row-gap: 50px;
grid-column-gap: 50px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1.4fr;
min-height: 80vh;
}

#titel {
grid-area: 1 / 1 / 2 / 3;
}

#budget {
grid-area: 2 / 1 / 3 / 2;
}

#kreisdiagramm {
grid-area: 2 / 2 / 3 / 3;
}

.datum {
text-align: center;
margin-bottom: 30px;
}

.progress-bar {
background-color: #ff7f0e;
}

.monatsauswahl {display: flex;}




/****************************************************************
***************************************************************/
/*add-Ausgabe*/


/*Add Ausgabe Button*/
.add_button {
    position: fixed;
    right: 30px;
    width: 75px;
    height: 75px;
    line-height: 0.33;
    font-weight: 500
}
.add_button .bi:before {
    border: 3.5px solid black;
    border-radius: 50px;
 }

.add_ausgabe_button {
    bottom: 80px;
}

.add_budget_button {
    bottom: 160px;
}

.add_ausgabe_button i, .add_budget_button i {font-size: 4rem;}

.add_budget_button i:before {
    padding: 0.75rem;
    font-size: 2.5rem;
}

.add_button:hover i:before {
    color: #ff7f0e;
    border-color: #ff7f0e;
}



/*Budget-Kategorie Auswähler*/

.btn-outline-primary {
    color: #FAA01C;
    border-color: #FAA01C;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover {
    background-color: #FAA01C;
    border-color: #FAA01C;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(250 160 28 / 50%);
}
.wrapper div
.kategorien_buttons {
    flex-wrap: wrap;
}

.add_ausgabe form > *,  .kategorien_buttons *, form:not(.monatsauswahl) .form-control {
    margin: 10px 20px 10px 0px;
}

.ausgabe_speichern {margin-top: 50px!important;}

.add_ausgabe input {width: 100%;}


/*tabellen*/
.last {
    text-align: right;
}

